@use "sass:map";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$grid-breakpoints: map.merge(
  $grid-breakpoints,
  (
    xxl: 1440px
  )
);

$container-max-widths: map.merge(
  $container-max-widths,
  (
    xxl: 1408px
  )
);
