<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/styles/main.css" rel="stylesheet">
</head>

<body>
    <header>

        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">

                    <strong>osu! Reports<a href="/twitter/login" class="btn btn-secondary my-2">Login</a></strong>
                </a>
            </div>
        </div>
    </header>
    <main role="main">
        <section class="jumbotron text-center" background="bg1.jpg">
            <div class="container">
                <img src="../images/osuReportsLogo.png" align="center" height="300" alt="osu Reports Logo">
                <!-- <h1 class="jumbotron-heading">Get data on your osu! game sessions tweeted directly at you!</h1> -->
                <br />
                <br />
                <h3>Get reports on your osu! sessions tweeted directly to you!</h3>
                <br />
                <%= numOfPlayers %> users whitelisted!
                <br />
                <%= numOfPlays %> plays and <%= numOfSessions %> sessions recorded!
                <br />
                <br />
                <p>
                    <a href="/twitter/login" class="btn btn-primary my-2"><strong>Login with twitter</a></strong>
                </p>
            </div>
        </section>
    </main>
    <center>
        <a href="/privacy"><strong>Privacy Policy</a></strong>
    </center>

</html>