<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/static/styles/main.css" rel="stylesheet">
</head>

<body>
  <header>

    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">

          <strong>osu! Reports<a href="/twitter/login" class="btn btn-secondary my-2">Login</a></strong>
        </a>
      </div>
    </div>
  </header>
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Privacy Policy</h1>
        osu! Reports does not retain any personal information on its users through signing in on twitter. The sole
        purpose of signing in through twitter is to confirm that you own the twitter account that you may be
        enabling/disabling osu! Reports for. If you have any questions or concerns
        please direct message @osureports.
        <p>
          <a href="/" class="btn btn-primary my-2">Back to home page</a>
        </p>
      </div>
    </section>
  </main>
  <center>
    <a href="/privacy"><strong>Privacy Policy</a></strong>
  </center>


</html>